.LoginContainer {
  min-height: 100vh;
  display: grid;
  gap: 70px;
}

.LoginTypes {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px;
  background-color: var(--color-vlightBlue);
  background-image: url("https://www.pngarts.com/files/10/Blur-Transparent-Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.LoginTypes::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.LoginTypes > h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
.LoginTypes > h3 {
  color: #fff;
}

.LoginTypes > p {
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
}

.LoginForms {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px;
  background-color: whitesmoke;
}

.UserButtonsDiv {
  display: grid;
  gap: 10px;
  margin-top: 15px;
}

.UserButtonsDiv > button {
  padding: 12px;
  width: 70%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  border-radius: 2px;
  border: 2px solid #fff;
  outline: none;
  background-color: transparent;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  color: #fff;
  position: relative;
  z-index: 1;
}

.UserButtonsDiv > button:hover {
  color: #fff;
}

.CommonUserBtn:focus {
  border: 2px solid #11435c;
}

.AdminBtn:focus {
  border: 2px solid #528f3f;
}

@media screen and (min-width: 768px) {
  .LoginContainer {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .LoginTypes > h1 {
    font-size: 45px;
  }

  .LoginTypes > p {
    font-size: 22px;
  }

  .UserButtonsDiv > button {
    padding: 15px 10px;
    width: 55%;
    font-size: 15px;
  }
}
