.MainSection {
	margin: 1rem 2rem;
	padding: 2rem 1rem;
}

.CourseContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 1rem;
	/* flex-wrap: wrap; */
}

.DownloadBtn {
	/* border: none;
	  outline: none; */
	/* margin-left: 1rem; */
	font-family: inherit;
	font-weight: 700;
	cursor: pointer;
	font-size: 14px;
	border-radius: 4px;
	color: rgb(0, 145, 0);
  }
  
  .DownloadBtn:hover {
	color: #fff;
	background-color: rgb(0, 145, 0);
  }
  
  .DownloadBtn svg {
	margin-right: 5px;
  }
  

.Heading {
	font-size: 18px;
	color: var(--color-green);
	font-weight: 700;
}

.PageHeader {
	color: var(--color-primary);
	font-weight: 700;
	font-size: 24px;
	/* margin-bottom: 1rem; */
}

/* .MainSection p {
	margin-bottom: 0;
} */

.course_duration {
	margin: 5px 0 10px;
	font-size: 14px;
	color: #777;
}

.Assessment {
	/* filter: grayscale(100);
	pointer-events: none; */
}
.AssessmentInfo {
	box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.15);
	padding: 2rem 1rem;
	margin: 0 3rem;
}

@media only screen and (max-width: 768px) {
	.MainSection {
		margin: 1rem 10px;
	}
}

.ButtonConatiner {
	margin-top: 3rem;
	display: flex;
	align-items: center;
}

.ButtonContainer a {
	margin-right: 1rem;
	background-color: var(--color-green);
	color: #fff;
	padding: 9px 32px;
	border-radius: 4px;
	transition: all 0.4s ease-in-out;
}

.ButtonContainer a:hover {
	background-color: var(--color-green);
}

.ButtonConatiner button {
	background: transparent;
	border: none;
	outline: none;
}

.Accordion {
	margin: 10px 0;
	border: none;
}

.Accordion .AccordionHeader button {
	font-weight: 700;
	color: var(--color-lightBlue);
	padding: 1rem 5px;
}

.AccordionBody {
	padding: 5px 1.25rem;
	border-bottom: 1px solid #eee;
}

ul li {
	line-height: 2;
}

.WarningBox {
	text-align: center;
	padding: 2rem 5px;
}

.WarningButtons {
	display: flex;
	justify-content: center;
}

.WarningButt button {
	margin: 5px 10px;
}

@media only screen and (max-width: 600px) {
	.ButtonContainer {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.ButtonContainer a {
		margin-bottom: 1rem;
		margin-right: 0;
	}

	.CourseContainer {
		padding: 0;
	}

	.AssessmentInfo {
		margin: 0;
	}

	.MainSection {
		margin: 5px;
	}
}
