.MainSection {
	margin: 1rem 2rem;
	padding: 2rem 1rem;
}

.PageHeader {
	color: var(--color-primary);
	font-weight: 700;
	font-size: 28px;
	text-transform: capitalize;
	/* text-align: center; */
}

.HeadingSection {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.CourseFor {
	max-width: 100%;
	width: 60%;
	margin-right: auto;
}

.CourseForText {
	line-height: 1.75;
}

.CourseContainer {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	padding: 5px 1rem;
}

.CourseImage {
	border-radius: 10px;
	height: max-content;
	max-height: 50vh;
	/* height: 300px; */
	width: 100%;
	object-fit: cover;
}

.CourseInformation {
	padding-top: 2rem;
}

.CourseDescription {
	margin: 1rem 2rem;
	padding: 2rem 3.2rem;
}

@media only screen and (max-width: 900px) {
	.MainSection {
		margin: 1rem;
	}

	.CourseFor {
		width: 50%;
	}

	.CourseForText {
		font-size: 15px;
		line-height: 1.7;
	}

	.CourseImage {
		height: 300px;
	}
}

@media only screen and (max-width: 768px) {
	.HeadingSection {
		flex-direction: column-reverse;
	}

	.CourseFor {
		width: 100%;
		text-align: center;
	}

	.CourseImage {
		width: 100%;
	}

	.PageHeader {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 481px) {
	.PageHeader {
		font-size: 18px;
	}
	.CourseImage {
		height: auto;
	}
	.CourseContainer {
		padding: 1rem 0;
	}

	.MainSection {
		margin: 5px;
	}
}
