.UserHeader {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  height: 65px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.LogoContainer {
  background-color: #fff;
  padding: 5px 2rem;
}

.NavItems {
  background-color: var(--color-primary);
  padding: 10px 2rem;
  display: flex;
}

.UserHeader img {
  height: 100%;
}

.UserHeader .Logo {
  width: 6rem;
  object-fit: contain;
  margin-right: auto;
}

.UserHeader h2 {
  color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  margin: 0 auto;
}

.UserHeader button {
  background: transparent;
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  border: none;
  outline: none;
  margin-left: 1rem;
}

.UserInfo {
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.UserInfo svg {
  margin-right: 5px;
}

.UserInfo h6 {
  text-transform: capitalize;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .UserInfo h6 {
    font-size: 14px;
    margin-right: auto;
  }
}
